<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/style.css">

<!-- Dependencies (and Credits) -->
<script type="text/javascript" src="lib/jquery.js"></script>            <!-- http://jquery.com/ -->
<script type="text/javascript" src="lib/underscore.js"></script>

<script type="text/javascript" src="lib/gears/gears_init.js"></script>
<script type="text/javascript" src="lib/gears/gears_ext.js"></script>   <!-- http://code.google.com/p/gears/issues/detail?id=111 -->

<script type="text/javascript" src="lib/Math.uuid.js"></script>         <!-- http://www.broofa.com/2008/09/javascript-uuid-function/ -->
<script type="text/javascript" src="lib/date.js"></script>              <!-- http://www.datejs.com/ -->

<script type="text/javascript" src="lib/resig-templates.js"></script>   <!-- http://ejohn.org/blog/javascript-micro-templating/ -->
<script type="text/javascript" src="lib/json2.js"></script>             <!-- http://json.org/json2.js -->

<!-- Components (by Me) -->    
<script type="text/javascript" src="scripts/misc.js"></script>
<script type="text/javascript" src="scripts/gears-database.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>

<script type="text/javascript">
$(function(){ setup_stuff() })
</script>


<!-- Template for major lists like "I should..." and "But first I should..." -->
<script type="text/html" id="editable_list_template">
<div class="list" id="<%= name %>">
<h3><%= flavor_text %></h3>

<div class="input_container">
<input type="text" id="<%= name %>-input" class="input">
</div>

<ul class="autocomplete"></ul>
<ul id="<%= name %>-list">
    <%= tmpl('item_list_template', {items:items}) %>
</ul>
</div>
</script>

<!-- A list of todo items -->
<script type="text/html" id="item_list_template">
<% for ( var i = 0; i < items.length; i++ ) { %>
    <%= tmpl('item_template', items[i]) %>
<% } %>
</script>

<!-- An individual todo item in the list -->
<script type="text/html" id="item_template">
<li data-id="<%= id %>">
    <input type="radio" name="focus" class="focus" id="item-<%= text %>">
    <label class="text" for="item-<%= text %>"><%= text %></label>
    <span class="done_reason <%= done_reason %>"><%= done_reason %></span>
</script>

<!-- Details panel content, for when an item is focused -->
<script type="text/html" id="item_details_template">
<h2 data-id="<%= item.id %>" class="item"><%= item.text %>
    <button id="done">Done</button>
    <button id="drop">Drop</button>
</h2>
<%= tmpl('editable_list_template', {name:"before", flavor_text:"But first I should...", items:before }) %>
<%= tmpl('editable_list_template', {name:"after", flavor_text:"After that I can...", items:after }) %>
</ul>
</script>

<!-- Details panel for a completed item -->
<script type="text/html" id="item_completed_template">
<h2 data-id="<%= item.id %>" class="item"><%= item.text %>
    <button id="undone">Revive</button>
    <span class="done_reason <%= item.done_reason %>"><%= item.done_reason %></span>
</h2>

<div id="before" class="list">
<h3>What to do about the prerequisites?</h2>
<ul> <%= tmpl('item_list_template', {items:before}) %> </ul>
</div>

<div id="after" class="list">
<h3>"Hooray!  Now you can..."</h3>
<ul> <%= tmpl('item_list_template', {items:after}) %> </ul>
</div>
</script>



<!-- A standard list.  Used by autocomplete -->
<script type="text/html" id="list_items_template">
<% for (var i = 0; i < list.length; i++) { %>
    <li><%= list[i] %>
<% } %>
</script>


</head>
<body>
    <div id="list_panel">

        <!-- TODO: make this a template too -->
        <ul id="filter">
            <label for="available"> <input name="filter" type="radio" id="available">Available</label>
            <label for="unfinished"> <input name="filter" type="radio" id="unfinished">Unfinished</label>
            <label for="finished"> <input name="filter" type="radio" id="finished">Finished</label>
            <label for="all">       <input name="filter" type="radio" id="all"   >All</label>
        </ul>
        
        <div id="insert-main-list"></div>
    </div>

    <div id="details_panel"></div>


</body>
</html>

