<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">

<!-- Dependencies (and Credits) -->
<script type="text/javascript" src="lib/jquery.js"></script>            <!-- http://jquery.com/ -->
<script type="text/javascript" src="lib/gears_init.js"></script>        <!-- http://code.google.com/apis/gears/ -->
<script type="text/javascript" src="lib/resig-templates.js"></script>   <!-- http://ejohn.org/blog/javascript-micro-templating/ -->
<script type="text/javascript" src="lib/json2.js"></script>             <!-- http://json.org/json2.js -->
<script type="text/javascript" src="lib/underscore.js"></script>        <!-- http://documentcloud.github.com/underscore/ -->
<script type="text/javascript" src="lib/date.js"></script>              <!-- http://www.datejs.com/ -->
<script type="text/javascript" src="lib/Math.uuid.js"></script>         <!-- http://www.broofa.com/2008/09/javascript-uuid-function/ -->
<script type="text/javascript" src="lib/functional.js"></script>        <!-- http://osteele.com/sources/javascript/functional/ -->

<!-- Hosted Dependencies -->
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>-->

<!-- Components (by Me) -->
<script type="text/javascript" src="scripts/database.js"></script>
<script type="text/javascript" src="scripts/database_helpers.js"></script>
<script type="text/javascript" src="scripts/util.js"></script>

<script type="text/javascript">
if (!google.gears.factory.create) {
    $(function(){
        $('body').html("Please install google gears")        
    })
} else {
    init()
}

// Globals.  How can I make them not so global...
var current_database = 'todo-list'
var max_autocomplete_results = 10
var focused_item_id
var available_mode = false

function init(){
    dbh.setup(current_database)
    $(function(){
        $('#insert-main-list').html(tmpl('editable_list_template', {name:"main", 
            flavor_text:"I should...", list:[]}))

        $('.focus').live('click', function(){
            var item = $(this).parent('li')
            var id = item.attr('data-id')
            var text = item.find('.text').text()
            focus_item(id, text)
        })


        //////////////////////////////////////////////////
        // Reduce Repetition
        $('#main-input').keydown(function(event){
            if (event.which == keys.enter) {
                entered_item($(this))
            }

            auto_search($(this))
        })

        $('#before-input').live('keydown', function(event){
            if (event.which == keys.enter) {
                before_enter($(this))
            }
            auto_search($(this))
        })

        $('#after-input').live('keydown', function(event){
            if (event.which == keys.enter) {
                after_enter($(this))
            }
            auto_search($(this))
        })


        // TODO: reduce to a loop
        $('#before .autocomplete li').live('click', function(){
            autocomplete_click($(this), before_enter)
        })

        $('#main .autocomplete li').live('click', function(){
            autocomplete_click($(this), entered_item)
        })

        $('#after .autocomplete li').live('click', function(){
            autocomplete_click($(this), after_enter)
        })


        $('#filter #all').click(function(event){
            show_all_items()
        })

        $('#filter #available').click(function(event){
            show_available_items()
        })

    

        ///////////////////////////////////////////////////
    
        $('.done').live('click', function(){
            var itemnode = $(this).parents('.item')
            var item_id = itemnode.attr('data-id')
            // console.debug(item_id)
            // db.execute('')
            // moveto(this, '#done')
        })
    
        // // Use this later
        // $('.do').live('click', function(){
        //     moveto(this, '#doing')
        // })

        // TODO: implement these with a template instead of clearing html
        function show_all_items(){
            available_mode = false
            $('#main-list').html('')
            dbh.dict_cursor('select text, rowid from item', [], function(row){
                add_to_list($('#main-list'), row.text, row.rowid)
            })
        }
    
        function show_available_items(){
            available_mode = true
            $('#main-list').html('')
            dbh.dict_cursor("select item.rowid, item.text from item \
                    left outer join prerequisite on prerequisite.after_id = item.rowid\
                    where prerequisite.before_id is null", [], 
                function(row){
                    add_to_list($('#main-list'), row.text, row.rowid)
                }
            )        
        }

    
        show_available_items()
    })
}

</script>

<script type="text/html" id="editable_list_template">
<div class="list" id="<%= name %>">
<h3><%= flavor_text %></h3>
<input type="text" id="<%= name %>-input" class="input">
<ul class="autocomplete"></ul>

<ul id="<%= name %>-list">
    <% for ( var i = 0; i < list.length; i++ ) { %>
        <%= tmpl('item_template', list[i]) %>
    <% } %>
</ul>
</div>
</script>

<script type="text/html" id="item_template">
<li data-id="<%= rowid %>">
    <input type="radio" name="focus" class="focus" id="item-<%= text %>">
    <label class="text" for="item-<%= text %>"><%= text %></label>
    <!-- <button class="focus">Focus</button>
    <button class="done">Done</button>
    <button class="do">Do</button>
    <button class="before">before</button>
    <button class="after">after</button>-->
</script>

<!-- TODO: stop using rowid here and make it item_id -->
<script type="text/html" id="item_details_template">
<h2 data-id="<%= rowid %>" class="item"><%= text %>
    <button class="done">Done</button>
</h2>
<%= tmpl('editable_list_template', {name:"before", flavor_text:"But first I should...", list:before }) %>
<%= tmpl('editable_list_template', {name:"after", flavor_text:"After that I can...", list:after }) %>
</ul>

</script>

<script type="text/html" id="list_items_template">
<% for (var i = 0; i < list.length; i++) { %>
    <li><%= list[i] %>
<% } %>
</script>


</head>
<body>
    <div id="list_panel">
        <ul id="focused"></ul>

        <ul id="filter">
            <label for="available"> <input name="filter" type="radio" id="available" checked>Available</label>
            <label for="unfinished"> <input name="filter" type="radio" id="unfinished">Unfinished</label>
            <label for="finished"> <input name="filter" type="radio" id="finished">Finished</label>
            <label for="all">       <input name="filter" type="radio" id="all"   >All</label>
        </ul>
        
        <div id="insert-main-list"></div>

        <!-- <h2>On Your Plate</h2>
        <ul id="doing"></ul>

        <h2>Done</h2>
        <ul id="done"></ul> -->
    </div>

    <div id="details_panel"></div>


</body>
</html>

