body {font-family:helvetica, arial;}
#list_panel, #details_panel {display:inline-block; width:30%; margin-right:3%; vertical-align:top;}
.list {margin:20px 0;}

/* Counteract the border/padding on my width:100% input, since it can't act as a proper block element */
.input_container {margin-right:5px;} 

.autocomplete { padding:5px; color:blue; cursor:pointer;}
li {list-style:none;}
ul {margin:0; padding:0;}
h1,h2,h3 { margin:0;}
h3 {color:#aaa;}
h2 button {display:inline-block; vertical-align:20%;} 
input[type=text] {font-size:inherit; font-family:inherit; width:100%;}


.done_reason {float:right; font-size:12pt; font-weight:normal;}
.done_reason.dropped {color:darkred;}
.done_reason.completed {color:darkgreen;}