body {font-family:helvetica, arial;}

/* Counteract the border/padding on my width:100% input, since it can't act as a proper block element */
.input_container {margin-right:5px;} 
.list {margin-bottom:5px}

.autocomplete {/*padding:5px;*/ color:blue; cursor:pointer;}
li {list-style:none;}
ul {margin:0; padding:0;}
h1,h2,h3 { margin:0;}
h3, th, p {color:#aaa;}
h2 button {display:inline-block; vertical-align:20%;} 
input[type=text], textarea {font-size:inherit; font-family:inherit; width:100%; display:block;}

/*h3, table {margin-top:1em;}*/
p {margin:0;}

.done_reason {float:right; font-size:12pt; font-weight:normal;}
.done_reason.dropped {color:darkred;}
.done_reason.completed {color:darkgreen;}

#import-export a {font-size:.8em;}
#import-export textarea {width:100%;}
#import-export form {display:none;}

a {color:blue; cursor:pointer;}

#close_details {float:right;}


.title {font-size:1.5em; border:0;}

.autogrow-aid {position:absolute; left:-9999999px; top:0; white-space:pre-wrap; height:auto !important;}
.notes {min-height:3em; border:1px solid lightgray; /*padding:.5ex;*/}
.title {height:1em; line-height:1em;}

#main-list .dissociate {display:none}

.panel {overflow-y:auto; overflow-x:hidden; height:100%; width:390px; display:block; vertical-align:top; padding:0 0px;
        position:absolute; top:0}

#list_panel {left:0}
#details_panel {left:400px}
#today_panel {left:800px}
#laundry_panel {left:1200px}

/*html, body {overflow-y:hidden; height:100%; margin:0; padding:0}*/
body {position:absolute; top:0px; left:0px; right:0px; bottom:0px; margin:0 6px; overflow-y:hidden; overflow-x:auto; width:1200px}
